.component {
  display: flex;
  flex-direction: row;
  position: absolute;
  background-color: red;
  color: whitesmoke;
  opacity: 0.98;
  width: 100%;
  height: 50px;
  outline: 0;
  font-size: 16px;
  text-align: center;
  left: -100%;
  padding: 10px;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';

  label {
    width: 100%;
    height: 100%;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    padding: 0;
  }

  button {
    background-color: transparent;
    width: 32px;
    border: 0;
    cursor: pointer;
    outline: 0;
  }
}

.success {
  background-color: green;
}

.warning {
  background-color: orange;
}

.error {
  background-color: red;
}

.show {
  transition: left 0.5s;
  left: 0;
}
