.component {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 98%;
  background-color: whitesmoke;
  color: black;
  padding-left: 15px;
  padding-top: 15px;
}

  .component > * {
      margin: 5px;
  }

.header {
  width: 95%;
  font-family: ProximaNovaCond, "Arial Narrow", sans-serif;
}

.title {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.25rem;
  margin: 0;
  color: #3F3F42;
  font-size: 2.75rem;
  line-height: 3rem;
}

.content {
  display: flex;
  flex-direction: row;
}

.img_section {
  min-height: 232px;
  width: 462px;
  position: relative;
  overflow: hidden;
}

.image {
  height: 232px;
  width: 462px;
  overflow: hidden;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  object-fit: cover;
}

.article {
  width: 60%;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.text {
  text-align: left;
  padding: 0 10px 10px 10px;
  width: 95%;
}
