.component {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  color: white;
  padding: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

.loader {
  width: 80px;
  height: 80px;
  margin: auto;
}