.component {
  display: flex;
  width: 100%;
  background-color: #ddddf7;
  color: black;
  margin: auto;
  justify-content: center;
  background-color: transparent;
}

.button{
  width: 25px;
  height: 25px;
  font-size: 16px;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  background-color: rgb(208, 210, 235);
  margin: 5px;
  cursor: pointer;
}

.input {
  min-width: 25px;
  width: auto;
}